%p#notice= notice
= render partial: 'partials/nav_hierarchy', locals: {app: @metric.dimension.app, current_score: @metric.value,
                                                    dimension: @metric.dimension, metric: @metric}
%p
  %b Weight:
  = @metric.weight


= render partial: 'partials/timeline', locals: {thing: @metric}