%h3 New Subjective Assessment
- App.all.each do |app|
  %ul
    %li= link_to "Subjective Assessment for #{app.name}", new_subjective_assessment_survey_path(subjective_assessment_survey: {app_id: app})
