

%p
  %b Assessments:
  %ul
  - @subjective_assessment_survey.subjective_assessments.each do |assessment|
    %li= "#{assessment.name} was assessed as #{assessment.satisfactory ? '' : 'not'} satisfactory"
%p
  %b App:
  = @subjective_assessment_survey.app


