.row.nav-hierarchy
  .col-md-9
    %ol.breadcrumb
      %li= link_to app.name, app if app
      -if defined?(dimension)
        %li= link_to dimension.name, dimension
      -if defined?(metric)
        %li= link_to metric.name, metric
      %span.pull-right
        = number_with_precision current_score