%p#notice= notice

= render partial: 'partials/nav_hierarchy', locals: {app: @app, current_score: @app.current_score}

%h3 Dimensions
%ul
- @app.dimensions.each do |dimension|
  =render :partial => 'dimensions/list_item', locals: {dimension: dimension}


= render partial: 'partials/timeline', locals: {thing: @app, filter: @filter}
