= render partial: 'partials/nav_hierarchy', locals: {app: @app, current_score: @app.rollup_score(@filter[:time_till])}

%h3 Dimensions
%ul
- @app.dimensions.order(:name).each do |dimension|
  =render :partial => 'dimensions/list_item', locals: {dimension: dimension}


= render partial: 'partials/timeline', locals: {thing: @app, filter: @filter}
