/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_self
 *= require_tree .
 */


#chart {
  height: 400px;
  width: 900px;
}
#overview {
  height: 200px;
  width: 800px;
}

.red {
  color: indianred;
}
.green {
  color: greenyellow;
}
.nav-hierarchy {
  padding-top: 30px;
  font-size: large;
}

ol.breadcrumb {
  background-color: white;
}

//Subjective Feedback forms
ul#steps .current {
  list-style: none;
}
.current:before {
    content: ">> ";
    color: indianred;
}
ul#steps span:before {
  content: " assess data quality for dimension:  "
}
ul#steps li {
  list-style: none;
}

.subjective-feedback .next {
  padding: 4px;
  float: right;
  background-color: #DFF0D8;
}
.subjective-feedback .prev {
  padding: 4px;
  background-color: #FCF8E3;
}


.filter {
  padding: 6px;
  padding-left: 65px;
  background-color: #F8F8F8;
  border-color: #E7E7E7;
  border-bottom-width: 1px;
}
.filter label {
  color: darkgrey;
}

